*{
    padding: 0;
    margin: 0;
}
.head{
    list-style: none;
    background-color: gray;
    padding: 18px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.head-left{

}
.head-left img{
    width: 130px;

}
.head-right{
    display: flex;

}
.head-right li{
    margin-left: 14px;
    color: white;
    text-transform: uppercase;
}
.bannar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    background-image: url(./img/background.png);
    position: relative;
    color: white;
    z-index: 1;
    
}
.bannar::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(34, 33, 33);
    z-index: -1;
}


.bannar-riht img{
    width: 300px;
}
.bannar-left h4 {
    font-size: 15px;
    padding-bottom: 15px;
    font-weight: 500;
}
.bannar-left h2 {
    font-size: 52px;
    padding-bottom: 15px;
    text-transform: capitalize;
}
.btn {
    border: none;
    text-transform: uppercase;
    background: #f06c19;
    color: white;
    padding: 15px;
    border-radius: 7px;
}
.about-left{

}
.about-left img{
    width: 380px;
}
.about-right{

}
.about{
    padding: 50px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.about h2{
    text-align: center;
    font-size: 50px;
    text-transform: capitalize;
    padding-bottom: 20px;

}
.b-btn {
    border: none;
    text-transform: uppercase;
    background: #f06c19;
    color: white;
    padding: 15px;
    border-radius: 7px;
    margin-top: 25px;
}
.ab-to{
    padding: 20px 0px;
    font-size: 55px;
    text-transform: capitalize;
    text-align: center;
}
/* about-section-end */
/* services-section-start */
.services{
    text-align: center;



}
.service{
    display: flex;
    justify-content: space-around;
    padding: 50px;
   
}
.service{
    background-color: darkgray;


}
.servic-box img{
    width: 56px;
}

.servic-box {
    background: black;
    color: white;
    padding: 40px 28px;
    border-radius: 8px;
}
.servic-box h2 {
    padding-bottom: 12px;
}
.servic-box h4 {
    font-size: 19px;
    font-weight: 400;
    line-height: 23px;
}
button.-deta {
    border: none;
    background: gray;
    padding: 9px;
    color: white;
    text-transform: uppercase;
    padding: 10px;
    margin-top: 10px;
}
.services h2 {
    text-align: center;
    font-size: 50px;
    text-transform: capitalize;
    padding: 39px 0px;
}
/* services-section-end */
/* footer-section-end */
.foter{
    background-color: black;
    padding: 30px;
    color: white;

}
.foter-main{
    display: flex;
    justify-content: center;

}
.footer-box{

}
.footer-box img{
    width: 130px;

}
.footer-box h4{

}